(dp0
Vshape
p1
(I100
I121
tp2
sVts_length
p3
I6001
sVdt
p4
F0.01
sVchannels
p5
I2
sVdepth
p6
I6
sVfilter_root
p7
I8
sVkernel_size
p8
(I3
I3
tp9
sVstrides
p10
(I2
I2
tp11
sVoptimizer
p12
VAdam
p13
sVfully_connected
p14
I00
sVuse_bias
p15
I00
sVloss
p16
Vbinary_crossentropy
p17
sVactivation
p18
NsVdrop_rate
p19
F0.1
sVdecimation_factor
p20
NsVmax_pooling
p21
I00
sVcwt
p22
I00
sVkwargs
p23
(dp24
Vnfft
p25
F198.0
sVnperseg
p26
F99.0
ssVdata_augmentation
p27
I01
s.